<%- include ('header'); -%>

<h2>Hello World!</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore provident ea facilis sunt, corrupti minus, nam culpa error harum, dicta velit. Quibusdam vel ipsa quia!</p>

<%- include ('footer'); -%>
